body {
    margin: 0;
    padding: 0;
    background-color: #19B5FE;
}

.App {
    text-align: center;
    margin-bottom: 75px;
}

.header {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: #222;
    height: 75px;
    color: #fff;
    display: inline-block;
}

.col-4 {
    margin: 0 auto;
    width: 33%;
    float: left;
}

.clearfix {
    clear: both;
}

.game-board {
    margin: 0 auto;
    margin-top: 30px;
    background-color: #3A539B;
    width: 750px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.game-col {
    margin: 0 auto;
    display: inline-block;
    width: 100px;
}

.game-piece {
    margin: 15px auto;
    background-color: #19B5FE;
    border: 3px solid #4183D7;
    border-radius: 50%;
    width: 69px;
    height: 69px;
    cursor: pointer;
}

.game-piece.red {
    background-color: #EF4836;
    border: 3px solid #D64541;
}

.game-piece.yellow {
    background-color: #F7E900;
    border: 3px solid #F4D03F;
}

.reset-button {
    background-color: #3A539B;
    border: 3px solid #4183D7;
    width: 64px;
    height: 12px;
    margin: 15px auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    padding: 8px;
    text-transform: uppercase;
}

.reset-button span {
    height: 20px;
    width: 20px;
    background-color: #fff;
}

.reset-button:hover {
    background-color: #19B5FE;
}

.undo-button {
    cursor: pointer;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .8);
}

.scoreboard {
    padding: 10px;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.scoreboard span {
    text-transform: capitalize;
}

.scoreboard.red {
    color: #f5f5f5;
    /* background-color: #EF4836; */
    border: 3px solid #D64541;
}

.scoreboard.yellow {
    color: #f5f5f5;
    /* background-color: #F7E900; */
    border: 3px solid #F4D03F;
}

.winner {
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.winner span {
    text-transform: capitalize;
}